/ca_ancora/
/cs_pcedt/
/cs_pdt/
/cu_proiel/
/de_potsdamcc/
/en_gum/
/en_litbank/
/es_ancora/
/fr_ancor/
/fr_democrat/
/grc_proiel/
/hbo_ptnk/
/hi_hdtb/
/hu_korkor/
/hu_szegedkoref/
/ko_ecmt/
/lt_lcc/
/no_bokmaalnarc/
/no_nynorsknarc/
/pl_pcc/
/ru_rucor/
/tr_itcc/
